<clr-modal [(clrModalOpen)]="modelOpened">
    <h3 class="modal-title">创建callback</h3>
    <div class="modal-body">
			<form #callbackForm="ngForm" (ngSubmit)="submit()">
				<div class="form-group">
					<label for="Callback">回调类别</label>
					<div class="select">
							<select id="Callback" [(ngModel)]="autobuild.Callback" name="Callback">
									<option value="tongmi">童秘</option>
									<option value="rtoy">故事机</option>
							</select>
					</div>
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-primary" (click)="modelOpened = false">Cancel</button>
			</form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showOpened">
    <h3 class="modal-title">callback配置</h3>
    <div class="modal-body">
      <clr-datagrid>
          <clr-dg-column>ID</clr-dg-column>
          <clr-dg-column>AppId</clr-dg-column>
          <clr-dg-column>State</clr-dg-column>
          <clr-dg-column>CallbackUrl</clr-dg-column>
          <clr-dg-column>CallbackState</clr-dg-column>
          <clr-dg-column>Action</clr-dg-column>
          <clr-dg-column>创建时间</clr-dg-column>
          <clr-dg-column>更新时间</clr-dg-column>

          <clr-dg-row *ngFor="let one of callbacks">
              <clr-dg-cell>{{one.Id}}</clr-dg-cell>
              <clr-dg-cell>{{one.AppId}}</clr-dg-cell>
              <clr-dg-cell>{{one.State}}</clr-dg-cell>
              <clr-dg-cell>{{one.CallbackUrl}}</clr-dg-cell>
              <clr-dg-cell>{{one.CallbackState}}</clr-dg-cell>
              <clr-dg-cell>{{one.Action}}</clr-dg-cell>
              <clr-dg-cell>{{one.CreatedAt * 1000 | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
              <clr-dg-cell>{{one.UpdatedAt * 1000 | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
          </clr-dg-row>
      </clr-datagrid>
      <div>
        <button type="button" (click)="rollback()" class="btn btn-success">Rollback</button>
        <button type="button" class="btn btn-primary" (click)="showOpened = false">Cancel</button>
      </div>
    </div>
</clr-modal>
