<clr-modal [(clrModalOpen)]="modelOpened">
    <h3 class="modal-title">修改自动化配置</h3>
    <div class="modal-body">
			<form #addForm="ngForm" (ngSubmit)="submit()">
				<div class="form-group">
					<label for="AppId">AppId</label>
					<input type="text" class="form-control" id="AppId" readonly [(ngModel)]="autobuild.AppId" name="AppId" >
				</div>
				<div class="form-group">
					<label for="Desc">Desc</label>
					<input type="text" class="form-control" id="Desc" required [(ngModel)]="autobuild.Desc" name="Desc" >
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-primary" (click)="modelOpened = false">Cancel</button>
			</form>
    </div>
</clr-modal>
