<button class="btn btn-primary" (click)="openAddModel()">新建</button> 
<span class="refresh-btn" (click)="refresh()">
  <clr-icon shape="refresh"></clr-icon>
</span>
<clr-datagrid (clrDgRefresh)="load($event)">
  <!-- <clr-dg-column>ID</clr-dg-column> -->
  <clr-dg-column [clrDgField]="'AppId'" >appID</clr-dg-column>
  <clr-dg-column [clrDgField]="'Desc'" >desc</clr-dg-column>
  <clr-dg-column>创建时间</clr-dg-column>
  <clr-dg-column>更新时间</clr-dg-column>
  <clr-dg-column>操作</clr-dg-column>

  <clr-dg-row *ngFor="let build of autobuilds">
    <!-- <clr-dg-cell>{{build.Id}}</clr-dg-cell> -->
    <clr-dg-cell>{{build.AppId}}</clr-dg-cell>
    <clr-dg-cell>{{build.Desc}}</clr-dg-cell>
    <clr-dg-cell>{{build.CreatedAt * 1000 | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>{{build.UpdatedAt * 1000 | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell>
			<div class="btn-group btn-primary btn-sm">
				<button (click)="openEditModel(build)" class="btn">编辑</button>
				<button *ngIf="(build.CmsSourceApp == '') && (build.Callback == '') && (build.Mqtt == 0) && (build.UpgradeName == '') && (build.AlbumList == '')" (click)="delete(build)" class="btn btn-danger">删除</button>
			</div>
    </clr-dg-cell>
		<expand-autobuild *clrIfExpanded [build]="build" ngProjectAs="clr-dg-row-detail"></expand-autobuild>
  </clr-dg-row>
	<clr-dg-footer>
		<clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [(clrDgPage)]="currentPage" [clrDgTotalItems]="totalCount">
			{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
			of {{pagination.totalItems}} autobuilds
		</clr-dg-pagination>
	</clr-dg-footer>
</clr-datagrid>

<edit-autobuild (edit)="editFinished($event)"></edit-autobuild>
<add-autobuild (create)="createFinished($event)"></add-autobuild>
