<clr-main-container>
  <global-message [isAppLevel]="false"></global-message>
	<clr-header class="header-5 header">
		<div class="branding">
			<a href="" class="nav-link">
				<clr-icon shape="vm-bug"></clr-icon>
				<span class="title">工具集</span>
			</a>
		</div>
		<div class="header-nav">
			<a href="toolkit" class="active nav-link"><span class="nav-text">故事机</span></a>
		</div>
		<div class="header-actions">
			<clr-dropdown>
					<button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
						  用户	
							<clr-icon shape="caret down"></clr-icon>
					</button>
					<clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
							<button type="button" (click)="logout()" clrDropdownItem>登出</button>
							<!-- <div class="dropdown-divider"></div> -->
							<!-- <clr-dropdown> -->
							<!-- 		<button type="button" clrDropdownTrigger>Link 1</button> -->
							<!-- 		<clr-dropdown-menu> -->
							<!-- 				<button type="button" clrDropdownItem>Foo</button> -->
							<!-- 				<clr-dropdown> -->
							<!-- 						<button type="button" clrDropdownTrigger>Bar</button> -->
							<!-- 						<clr-dropdown-menu clrPosition="left-top"> -->
							<!-- 								<button type="button" clrDropdownItem>Baz</button> -->
							<!-- 						</clr-dropdown-menu> -->
							<!-- 				</clr-dropdown> -->
							<!-- 		</clr-dropdown-menu> -->
							<!-- </clr-dropdown> -->
					</clr-dropdown-menu>
			</clr-dropdown>
		</div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="./autobuild" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>
        自动化配置	
      </a>
      <!-- <a clrVerticalNavLink routerLink="./token/suspend" routerLinkActive="active"> -->
      <!-- 	<clr-icon clrVerticalNavIcon shape="user"></clr-icon> -->
        <!-- token屏蔽 -->	
      <!-- </a> -->
    </clr-vertical-nav>
  </div>
</clr-main-container>

