<clr-modal [(clrModalOpen)]="modelOpened">
    <h3 class="modal-title">创建预置歌单</h3>
    <div class="modal-body">
			<form #albumForm="ngForm" (ngSubmit)="submit()">
				<div class="form-group">
					<label for="AlbumList">歌单ID</label>
					<input type="text" class="form-control" id="AlbumList" required [(ngModel)]="autobuild.AlbumList" name="AlbumList" placeholder="用逗号分隔">
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-primary" (click)="modelOpened = false">Cancel</button>
			</form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showOpened" [clrModalSize]="'xl'">
    <h3 class="modal-title">album配置</h3>
    <div class="modal-body">
      <clr-datagrid>
          <clr-dg-column>ID</clr-dg-column>
          <clr-dg-column>AppId</clr-dg-column>
          <clr-dg-column>AlbumId</clr-dg-column>
          <clr-dg-column>创建时间</clr-dg-column>
          <clr-dg-column>更新时间</clr-dg-column>

          <clr-dg-row *ngFor="let one of albums">
              <clr-dg-cell>{{one.Id}}</clr-dg-cell>
              <clr-dg-cell>{{one.AppId}}</clr-dg-cell>
              <clr-dg-cell>{{one.AlbumId}}</clr-dg-cell>
              <clr-dg-cell>{{one.CreatedAt * 1000 | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
              <clr-dg-cell>{{one.UpdatedAt * 1000 | date: 'yy-MM-dd HH:mm:ss'}}</clr-dg-cell>
          </clr-dg-row>
      </clr-datagrid>
      <div>
        <button type="button" (click)="rollback()" class="btn btn-success">Rollback</button>
        <button type="button" class="btn btn-primary" (click)="showOpened = false">Cancel</button>
      </div>
    </div>
</clr-modal>
